@import './variables';
@import './geral';
@import './icons';
@import './main';
//Components
@import '../components/header/header';
@import '../components/sidebar/sidebar';
@import '../components/partners/partner';