html, body, #root
  margin 0
  height 100%
  font-family 'Open Sans', sans-serif
ul
  list-style none

a
  text-decoration none

.btn
  color #fafafa
  font-weight bold
  text-decoration none
  display inline-block
  font-size 14px
  margin 0
  padding 12px 20px
  white-space nowrap
  text-shadow 1px 1px 1px rgba(68, 68, 68, 0.2)
  border-radius 4px
  box-sizing border-box
  cursor pointer
  opacity 1
  background-color #9ea1a3
  box-shadow 0 1px 0 #828282
  border none

.btn-active
  cursor pointer
  opacity 1
  background-color blue
  box-shadow 0 1px 0 darken(blue, 10%)