.header-content
  display flex
  align-items center
  height 75px
  background-color #FFF
  box-shadow 0 2px 4px 0 rgba(204, 204, 204, 0.4)
  .title
    font-weight normal
    margin 0 0 0 40px
    span
      &:first-child
        padding-right 10px
      &:nth-child(2)
        padding-top 2px